/* CSS for your imitation here */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Imperial+Script&family=Qwitcher+Grypen:wght@400;700&family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap'); 
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;
    font-family: Arial, sans-serif;
}

.chocolate-bar {
    width: 300px;
    height: 650px;
    background-color: #f6f3f2;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.header {
    text-align: center;
    margin-top: 0px;
    position: relative;
    padding-top: 20px;
}
.brand-container {
    position: absolute;
    top: -65px;
    left: 30%;
    transform: translateX(-50%);
}

.brand {
    font-size: 80px;
    color: #bda668; 
    font-family: "imperial script", cursive;
}

img.lindt-dragon  {
    height: 0.90in;
   transform: translate(110px, -155px);
}
.divider {
    border: none; 
    border-top: 3px solid #bda668; 
    width: 139%; 
    margin: 70px auto 5px; 
    margin-left: -40px;
}
.product-line {
    font-size: 30px;
    letter-spacing: 2px;
    color: #bda668; 
    margin-top: 10px;
    font-family: "figtree", sans-serif;
    font-weight: 300;
    margin-top: 0px;

}
.black-line {
    width: 90%; 
    border: none;
    border-top: 40px solid black; 
   margin: 0px auto;
}
.gold-line-1{
    border: none;       
  height: 3.5px;        
  background-color: #bda668;  
  width: 90%;
  margin-top: -0px;
}
.gold-line-2{
    border: none;
    height: 1px;
    background-color: #bda668;
    width: 90%;
    margin-top: -5.5px;
}
.gold-line-3{
    border: none;
    height: 1px;
    background-color: #bda668;
    width: 90%;
    margin-top: -5.5px;
    margin-bottom: 3.5px;
}
.gold-line-4{
    border: none;       
  height: 3.5px;        
  background-color: #bda668;  
  width: 90%;
  margin-top: -1px; 
  margin-bottom: -0px 
}
.main-content {
    
    color: rgb(255, 255, 255);
    text-align: center;
    flex-grow: 1;
    font-family: "Bodoni Moda", serif;
    font-size: 70px;
}

.flavor {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 3.5px;
    margin-top: 0;
    
}
.container {
    width: 200px;
    height: 240px;
    border: 2px solid #e0e0e0;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 225px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;    
}
img.gradient-image{
    height: 1in;
    width: 1in;
}
img.raspberry-image {
    
    height: auto;
    object-fit: cover;
     position: relative;
     left: 5px;
   

    height: 1in;    
}

.footer {
    text-align: center;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.dark-noir {
    font-size: 23px;
    letter-spacing: 5px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 15px;
    font-family: "Kantumruy Pro", sans-serif;

}

.description-container {
    display: flex;
    justify-content: center;
    gap: 10px; 
    font-size: 12px;
    color: #666;
  
    

.description {
    font-size: 12px;
    color: #bda668; 
    margin: -5px 0;
    
    font-family: "Old Standard TT", serif;
    font-style: italic;

}
.french-description {
    font-size: 12px;
    color: #bda668; 
    margin: -5px 0;
     font-family: "Old Standard TT", serif;
    font-style: italic;

}
img.lindt-logo{
    height: 1in;
    width: 1in;
    transform: translate(-95px, 53px);
}
.weight {
    font-size: 22px;
    font-weight: bold;
    color: #bda668; 
    position: absolute;
    bottom: -75px;
    right: 35px;
}
